body {
  padding: 25px;
  text-align: center;
}

h1 {
  font-size: 20px;
}

li {
  margin-bottom: 15px;
  padding-left: 10px;
}

p {
  margin-top: 25px;
}

ol {
  display: inline-block;
  text-align: left;
  padding: 5px;
}
