body {
  padding: 25px;
  text-align: center;
}

h1 {
  font-size: 20px;
}

li {
  margin-bottom: 25px;
  padding-left: 10px;
}

p {
  margin-top: 25px;
}

ol {
  display: inline-block;
  text-align: left;
  /* margin-right: 1%; */
  padding: 10px;
}
